---
layout: default
---
{% if page.featured and page.featured != "" %}
  {% assign hasImage = true %}
{% else %}
  {% assign hasImage = false %}
{% endif %}

<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			<div class="row">
				<section class="8u -2u">
					{%if hasImage %}
					<a href="{{ site.prefix }}{{ page.url }}" class="image full"><img src="/assets/{{ page.featured }}" alt=""></a>
					{% endif %}
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					{{ page.content }}
				</section>
			</div>
		</div>
	</div>
